<footer style="height: 150px;">
    <div class="row">
        <div class="col-md-4 text-center">   
            <h1 style="text-decoration: underline;">ORWW</h1> 
            Copright ORWW 2019.      
        </div>
        <div class="col-md-4 text-center">   
            <h1 style="text-decoration: underline;">Contact</h1>
            orww@gmail.com        
        </div>
        <div class="col-md-4 text-center">    
            <a href="#"><h1 style="text-decoration: underline; color: black;">Term of use</h1></a>
        </div>
    </div>
</footer>