<nav class="navbar navbar-default navbar-fixed-top opaque">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">OnionRingsWorldWide</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="#">Search</a></li>
        </ul>
        <div id="notloggedDiv" hidden>
                <ul class="nav navbar-nav navbar-right">
                        <!-- <li><a href="#">template</a></li>
                        <li><a href="#">template</a></li> -->
                        <li><a id="aLogin" href="/User/Login">Login</a></li>
                        <li><a id="aRegister" href="/User/Register">Sign Up</a></li>
                </ul>
        </div>

        <script>
            function checkUser(){
                $.ajax({
                async: true,
                type: 'POST',
                url: '/User/GetUsername',
                success: function(account) {
                    if(account.isLogged){
                        $('#aAccount').html(account.username);
                        $('#loggedDiv').show();
                        $('#notloggedDiv').hide();
                        // $('#ddAccount').show();
                        // $('#aLogin').hide();
                        // $('#aRegister').hide();
                    }
                    else{
                        $('#loggedDiv').hide();
                        $('#notloggedDiv').show();
                        // $('#ddAccount').hide();
                        // $('#aLogin').show();
                        // $('#aRegister').show();
                    }
                    }
                });
            };
            checkUser();
        </script>
        
        <div id="loggedDiv" hidden>
            <ul class="nav navbar-nav navbar-right">
                <!--TODO: Only show Account Dropdown when someone is logged in -->
                <li><a href="#">Reviews</a></li>
                <li id="ddAccount" class="dropdown">
                    <a id="aAccount" class="dropdown-toggle" data-toggle="dropdown" href="#">Account_Name
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/User/Logout">Sign out</a></li> 
                    </ul>
                </li>
            </ul> 
        </div>
              
    </div>
</nav>
<script>
    // $(document).ready(function(){
    //     $.ajax({
    //     async: true,
    //     type: 'POST',
    //     url: '/User/GetUsername',
    //     success: function(account) {
    //         if(account.isLogged){
    //             $('#aAccount').html(account.username);
    //             $('#loggedDiv').show();
    //             $('#notloggedDiv').hide();
    //             // $('#ddAccount').show();
    //             // $('#aLogin').hide();
    //             // $('#aRegister').hide();
    //         }
    //         else{
    //             $('#loggedDiv').hide();
    //             $('#notloggedDiv').show();
    //             // $('#ddAccount').hide();
    //             // $('#aLogin').show();
    //             // $('#aRegister').show();
    //         }
    //         }
    //     });
    // });
</script>
