<div class="row">
    <div class="col-xs-3 col-xs-offset-1">
        <div class="col-xs-4 col-xs-offset-4">
            <div style="padding: 300px 0;">
                <form action="/Home/Search" >
                    <div class="form-group">
                        <label>City</label>
                        <!-- pattern="[A-Za-z]{1,25}" -->
                        <input type="text" name="city" class="form-control" placeholder="Fullerton"  title="Alphabetic characters only" style="width: auto;" required />

                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <!-- <input type="text" name="state" class="form-control" placeholder="ca" style="width: auto;" /> -->
                        <select name="state" class="form-control" style="width: auto;" required>
                                <% include ../Partials/_states //relative path %>
                        </select>
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </form>    
            </div>
            
        </div>     
            
    </div>
    <div class="col-xs-6 text-center">
        <div style="padding: 300px 0;">
                <p>Welcome</p>
        </div> 
    </div> 
    <div class="col-xs-2"></div>
</div>