<div style="margin:0 auto;width: auto;max-width: 600px;">
    <br>
    <div
        style="background-color: rgba(255, 255, 255, 0.9);border-radius: 10px;padding-left: 20px; padding-right: 20px;">
        <h1 class="text-center">About Us</h1>
        <div class="demopara">
            <p ><br>At Onion Rings Worldwide, we cater to Onion Ring lovers. A website dedicated to those who want to eat onion rings they have never tried, rate their experience, share their review with others, and above all, find out where to go!</p>
            
            <p><br><br>All the information about the Onion Ring restaurants are from Yelp and can be translocated by using Google Maps. We also account for other restaurants that do not show up on Yelp or Google.</p>
                
            <p><br><br>This website was created by a group of students from California State University Fullerton.</p>
        </div>
        <style>
            .demopara{
                line-height: 1.5;
            }
        </style>

    </div>

</div>