<div style="margin:0 auto;width: auto;max-width: 600px;">
    <br>
    <div
        style="background-color: rgba(255, 255, 255, 0.9);border-radius: 10px;padding-left: 20px; padding-right: 20px;">
        <h1 class="text-center">Inspiration</h1>
        <div>
            <p>Insert paragraph here.Insert paragraph here.Insert paragraph here.Insert paragraph here.Insert paragraph
                here.Insert paragraph here.</p>
        </div>
    </div>

</div>