<div class="row">
    <div class="col-md-3 col-md-offset-1">
        <div class="col-md-4 col-md-offset-4">
            <div style="padding: 300px 0;">
                <form action="/Home/Search" >
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" placeholder="Fullerton" style="width: auto;" required />
                    </div>
                    <div class="form-group">
                        <label>State</label>
                        <!-- <input type="text" name="state" class="form-control" placeholder="ca" style="width: auto;" /> -->
                        <select name="state" class="form-control" style="width: auto;" required>
                                <option value="">-- Please Select --</option>
                                <option value="ca">CA</option>
                        </select>
                    </div>
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </form>    
            </div>
            
        </div>     
            
    </div>
    <div class="col-md-6 text-center">
        <div style="padding: 300px 0;">
                <p>Welcome</p>
        </div> 
    </div> 
    <div class="col-md-2"></div>
</div>