<div style="margin:0 auto;width: auto;max-width: 600px;">
    <br>
    <div
        style="background-color: rgba(255, 255, 255, 0.9);border-radius: 10px;padding-left: 20px; padding-right: 20px;">
        <h1 class="text-center">Inspiration</h1>
        <div>
            <p><br><center>What is the inspiration behind Onion Rings Worldwide?</center><br></p>
            <p><br>One day in 2017, an Instagram an account named <a href="https://www.instagram.com/onionringsworldwiide/?hl=en" target="_blank">@onionringsworldwide</a> was created. 
                Boasting only pictures of deep fried onion rings and annonymous finger holding them, users from communities like Instagram, <a href="https://twitter.com/hashtag/onionringsworldwide?lang=en" target="_blank">Twitter</a>, and Tumblr began
                to theorize who was the one behind the mysterious account.</p> <br>
            <p><br>The speculation began when New Zealand-based website Newshub was tipped off by a fan who'd noticed that the account only had 24 followers and was followed mainly by New Zealand pop artist <a href="https://www.google.com/search?q=Lorde&oq=Lorde&aqs=chrome..69i57j69i60j35i39l2j0l2.592j0j7&sourceid=chrome&ie=UTF-8" target="_blank">Lorde</a> and people she worked with on her tour. 
                Lorde is known for her popular songs like <a href="https://www.youtube.com/watch?v=nlcIKh6sBtc" target="_blank">Royals</a> and <a href="https://www.youtube.com/watch?v=f2JuxM-snGc" target="_blank">Team</a>. When Lorde's management was reached for a comment, the account was quickly shutdown.</p>
            <p><br>After weeks of speculation and crazy fan theories, Lorde appeared on the <a href="https://www.washingtonpost.com/news/arts-and-entertainment/wp/2017/06/18/lorde-the-international-pop-star-secretly-wrote-unpopular-instagram-reviews-of-onion-rings/?noredirect=on&utm_term=.8bf8b2e45b72" target="_blank">The Tonight Show with Jimmy Fallon</a> where the host
                questioned and presented evidence to her about the onion ring review account. With a sigh, she admitted that the <a href="https://www.instagram.com/onionringsworldwiide/?hl=en" target="_blank">@onionringsworldwide</a>
                account belonged to her. While traveling around the world on tour, she liked to go out to restaurants to eat and review onion rings for fun.</p>
            <p><br>Upon hearing this wild story, Computer Science student Nathan Nhek had one goal in mind. To make an application for onion ring fanatics around the world to congregate to his website, where they could find
                the best onion rings and write reviews.</p>
            <p><br>Holding onto this idea in secret for close to a year, he finally pitched the idea to his friends in a Software Engineering class where it finally turned into reality.</p>
        </div>
    </div>

</div>
