<div style="margin:0 auto;width: auto;max-width: 600px;">
    <br>
    <div
        style="background-color: rgba(255, 255, 255, 0.9);border-radius: 10px;padding-left: 20px; padding-right: 20px;">
        <h1 class="text-center">Inspiration</h1>
        <div>
            <p><br><center>What is the inspiration behind Onion Rings Worldwide?</center><br></p>
            <p><br>One day on Instagram, an account named <a href="https://www.instagram.com/onionringsworldwiide/?hl=en">onionringsworldwide</a> was created. 
            Boasting only pictures of deep fried onion rings and annonymous finger holding them, users from communities like Instagram, Twitter, and Tumblr began
            to theorize who was the one behind the mysterious account.</p> <br>
            <p>Somehow and for some reason, people on the internet began to speculate that the Instagram account belonged to the New Zealand pop artist <a href="https://www.google.com/search?q=Lorde&oq=Lorde&aqs=chrome..69i57j69i60j35i39l2j0l2.592j0j7&sourceid=chrome&ie=UTF-8">Lorde</a></p>
        </div>
    </div>

</div>

