<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body style="padding-top: 60px;">
    <% include ../Partials/_navbar //relative path %>

    <% if(locals.input){ %>        
      <h3><%= locals.input %></h3>       
    <% }  %>
    <!-- 
    include logo
    include navbar 
    -->
    
</body>

</html>