<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body style="padding-top: 60px;">
    <% include ../Partials/_navbar //relative path %>

    <div class="container-fluid" style="border-radius: 25px;background-color: #F3F3F3;">
      <div class="row">
        <div class="col-md-4">
          <!-- picture -->
        </div>
        <div class="col-md-4">
          <!-- stats -->
        </div>
        <div class="col-md-4">
          <!-- map -->
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <!-- Write Review -->
      <!-- List of review (order by new to old) -->
    </div>
    
</body>

</html>