<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body>

<div class="container">
	<% if(locals.input){ %>
		<p>input: <%= input %></p>
	<% } %>

	<form action="/Home/Search">
		<div class="form-group">
			<input type="text" name="city" class="form-control" placeholder="Fullerton" style="width: auto;" />
		</div>
		<div class="form-group">
			<!-- <input type="text" name="state" class="form-control" placeholder="ca" style="width: auto;" /> -->
			<select name="state" class="form-control" style="width: auto;">
					<option value="">-- Please Select --</option>
					<option value="ca">CA</option>
			</select>
		</div>
		<input type="submit" value="Search" class="btn btn-primary"/>
	</form>
</div>
</body>

</html>