<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body>

<div class="container">

	<br>
	<form action="/Example/Search">
		<div class="form-group">
			<input type="text" name="city" class="form-control" placeholder="Fullerton" style="width: auto;" required />
		</div>
		<div class="form-group">
			<!-- <input type="text" name="state" class="form-control" placeholder="ca" style="width: auto;" /> -->
			<select name="state" class="form-control" style="width: auto;" required>
					<option value="">-- Please Select --</option>
					<option value="ca">CA</option>
			</select>
		</div>
		<input type="submit" value="Search" class="btn btn-primary"/>
	</form>
	
	<br>
	<form action="/Example/Insert" method="POST">
		<div class="form-inline">
			First Name:&nbsp;<input type="text" name="first" class="form-control" style="width: auto;" required />
		</div>
		<br>
		<div class="form-inline">
			Last Name:&nbsp;<input type="text" name="last" class="form-control" style="width: auto;" required/>
		</div>
		<br>
		<div class="form-inline">
			Age:&nbsp;<input type="number" name="age" class="form-control" style="width: auto;" required/>
		</div>
		<br>
		<input type="submit" value="Insert" class="btn btn-primary"/>	
	</form>
	
	
</div>
</body>

</html>