<!DOCTYPE html>
<html>
<head>
    <% include ../Partials/_head //relative path %>
</head>
<body>
    <% include ../Partials/_navbar //relative path %>
    <div style="margin: 0 auto; width:300px;">
        <h2>SORRY!</h2>
        <h3>PAGE NOT FOUND</h3>
    </div>
</body>

</html>